{% extends 'base.html' %}
{% block content %}

<body style="background-color:;">
    <nav class="navbar navbar-expand-lg navbar-light bg-light" >
        <h2 class="mb-4" style="margin-right: 20px;">FAQ</h2>
        
        <ul class="nav navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" style="color: cadetblue;" href="/messages" target="iframe1">FAQ</a>
            </li>

            
        </ul>    
    </nav>
<div style="background-color: rgb(101, 122, 182);">

    </div>
<div class="one">
<form method="POST" action="/chats">
   {% csrf_token %}
    <div class="form-group">
       
        <textArea type="text" placeholder="Question...." name="title" class="form-control" rows="4"></textArea>
    </div>

    <button class="btn  btn-primary" type="submit">POST</button><BR><BR>
    <center><span> {{data}}</span></center>

</form>

</div>
</body>
{% endblock %}