{% extends 'base.html' %}
{% load static %}
{% block content %}
<head>

  <style>
    ::-webkit-scrollbar {
      width: 0px;
      height: 0px;
  }

  .a{
    font-size: 100%;
  }
  </style>


<head>


</head>
</head>
<div id="content" class="p-4 p-md-5">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">


        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="nav navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://app.powerbi.com/reportEmbed?reportId=252bb183-7071-4b79-9fc4-e3ed41feef43&autoAuth=true&ctid=f68064bc-0e02-4771-a46b-96a821b21c3d&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLXNvdXRoLWFmcmljYS1ub3J0aC1hLXByaW1hcnktcmVkaXJlY3QuYW5hbHlzaXMud2luZG93cy5uZXQvIn0%3D" target="_self">Analytics</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/messages">Community</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="logout" target="_top">Log out</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  
      
    <h2 class="mb-4">Recommendations</h2>
    <div class="progress progress-striped active">
      <div class="bar" style="width: 40%;"></div>
    </div>
    <div class="all" style="display: flex;">
    <div class="onemenu">

<br>

  <div class="card" style="width: 30rem; ">
    
    <div class="card-body">
      <a style="font-size:small" class="stretched-link" href="/uni/{{data.Programmes.0}}" target="univ"> {{data.Programmes.0}}</a>

    </div>
  </div>
<br>
  <div class="card" style="width: 30rem; ">
    
    <div class="card-body">
      <a style="font-size:small" class="stretched-link" href="/uni/{{data.Programmes.1}}" target="univ"> {{data.Programmes.1}}</a>

    </div>
  </div>

<br>
  <div class="card" style="width: 30rem; ">
    
    <div class="card-body">
      <a style="font-size:small" class="stretched-link" href="/uni/{{data.Programmes.2}}" target="univ"> {{data.Programmes.2}}</a>

    </div>
  </div>
  <br>
  <div class="card" style="width: 30rem; ">
    
    <div class="card-body">
      <a style="font-size:small" class="stretched-link" href="/uni/{{data.Programmes.3}}" target="univ"> {{data.Programmes.3}}</a>

    </div>
  </div>

  <br>
  <div class="card" style="width: 30rem; ">
    
    <div class="card-body">
      <a style="font-size:small" class="stretched-link" href="/uni/{{data.Programmes.4}}" target="univ"> {{data.Programmes.4}}</a>

    </div>
  </div>

  <br>
  
  <br>

 
    <a href="#"><i class="fa-solid fa-user"></i></a>


<BR>

{{data.exception}} 


</div>
  
  <div class="ifr">
  <iframe src="" frameborder="0" height="440" width="25em" title="uni" name="univ" style="margin-left: 30px;"></iframe>
</div>
</div>
</div>

  {% endblock %}